body{
    background-color: #bf5ef3;
}
.slider{
    margin: 0 auto;
    width: 800px;
    height: 400px;
    overflow: hidden;
}

.slides{
    width: 400px;
    height: 400px;
    display: flex;
}

.slides input{
    display: none;
}

.slides{
    width: 25%;
    position: relative;
}

.slides img{
    width: 800px;
}

.manual-navigation{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background-color: #fff;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -400%;
}

#radio3:checked ~ .first{
    margin-left: -800%;
}

#radio4:checked ~ .first{
    margin-left: -1200%;
}

form {
    margin: 0 auto;
    width: 50%;
    font-family: Arial, sans-serif;
}

label {
    display: block;
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
}

textarea {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 20px;
    font-size: 16px;
    font-family: inherit;
}

button {
    background-color: #000000;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
}

button:hover {
    background-color: #ad16ff;
}

